<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newsTitle</key>
	<array>
		<string>發現自我</string>
		<string>相信自己</string>
		<string>肯定自己</string>
		<string>原諒自己和別人</string>
		<string>創造性</string>
		<string>快樂</string>
		<string>感激</string>
		<string>明白</string>
		<string>奮鬥</string>
		<string>安全感</string>
		<string>財富</string>
		<string>成功</string>
		<string>善用時間</string>
		<string>智慧</string>
		<string>改掉壞習慣</string>
		<string>正確對待過錯</string>
		<string>正確對待困難</string>
		<string>愛與自由</string>
		<string>朋友</string>
	</array>
	<key>newsDescription</key>
	<array>
		<string>先討好自己。</string>
		<string>自信是, 自己夠不夠信自己</string>
		<string>肯定你自己, 傾聽你自己, 你會發現你有源源不絕的想法</string>
		<string>原諒別人對自己的不明白</string>
		<string>成為你自己</string>
		<string>堅持今日過得快樂</string>
		<string>感激的意義, 在於能夠發挖出更多的不平凡事</string>
		<string>因為明白, 才能減少很多人與人之間無謂的指責</string>
		<string>奮鬥是一份決心, 一種無比的毅力</string>
		<string>把安全感建立自性上</string>
		<string>錢跟財富並不是對等</string>
		<string>人, 一定要保有自己應世的哲學</string>
		<string>看新聞連繫到自己的生活</string>
		<string>口才是口舌的才華</string>
		<string>為明天或之後的事而煩惱, 是一種壞習慣</string>
		<string>越是追求完美, 越要承認並接受自己不完美</string>
		<string>生命的形成, 比起世間上任何人事的衝突矛盾都要複雜困難</string>
		<string>真正的愛是自由的</string>
		<string>交朋結友, 不是講時間, 而是講連結</string>
	</array>
	<key>newsContent</key>
	<array>
		<string>先討好自己。

連自己都討好不到, 如何討好你身邊的人?

不要做違背自己想法的事。

別人最想聽的是自己的經歷。

人終有一死, 只有一次上舞台的機會。
		
關鍵在於你有沒有勇氣去爭取你想要的世界, 你敢不敢去做。

做你自己想做的事, 你自然會獲得財富。
</string>
		<string>自信是, 自己夠不夠信自己。

相信你自己, 相信上天, 相信看不到的未來, 擁抱未來。

相信會有明天, 明天的資源是足夠養活自己, 你看, 這裡有你的桌子, 沒人跟你爭, 有你的空間與天地。

心存相信, 就算在最艱難的時候, 最惶恐的時候。

相信你的創意, 你的設計, 你的想法, 是會得到世界宇宙的回應。

相信有人會賞識你, 有人會支持你去做你喜歡的事, 尋找那些支持你的人。
</string>
		<string>肯定你自己, 傾聽你自己, 你會發現你有源源不絕的想法!

否定你的人不是否定你的行為, 而是否定換著是他, 他幹不來的可能。

那些否定你的人, 你要體諒他本身也是一個極度消極的人, 他連他自己都否定, 怎會肯定別人?

你的任務是要盡力跟他們溝通, 溝通到他們都明白為止, 當真不明白就給他們時間。

人們不是歡呼你所擁有的東西, 而是歡呼你追求並為此自豪的東西, 因為別人相信你專注的東西有一定的品質保證。</string>
		<string>這個世界, 任何人都沒有義務去了解自己, 因為他不是自己, 沒有自身的經歷, 不明白是正常, 如果遇到個明白自己乃是因為對方有共同經歷, 要好好珍惜那人。

原諒別人對自己的不明白, 因為同時自己亦有責任向別人解釋清楚自己的立場。

想減少憎恨你的敵人, 首先幻想那人是個小孩, 或是個手抱嬰兒, 在自己懷中, 那麼你就不會憎恨你的敵人, 因為手抱嬰兒的行為就算再差, 也為人所體諒, 沒有人會想對一個嬰兒發怒太久。此刻的你之所以太恨他, 是因為你執著於對方現在的色相之中, 他的形象就在你印象當中, 其實你恨的並非是他真實的人, 你恨是他當下的形象。

如果別人批評自己, 不要怪他, 因為他沒有你的經歷, 不明白你的心路歷程。

如果別人曾在言語上阻止過你成功, 那是因為他也是這樣被人用言語阻止過自己成功, 所以他才想用自己相同的經歷去令你再一次經歷他的世界, 你應該體諒他當事人也蒙在鼓裡。
</string>
		<string>現在的你只是對過去的你的總結, 而事實上你還有很多可能性。

成為你自己, 就不會再有下一個人跟自己一樣。

一個人若是終其一生都充斥著太多的失敗經歷也會讓人錯誤地標籤自己是失敗者。可是, 那只意味你所嘗試的事比一般人要面對的都偉大, 當你肯去堅持, 成功就在第100次了。累積失敗的經歷, 等待著!

不跟隨社會的道路去走, 創自己不同的方向, 因為這更令你顯得更與眾不同, 與實在。

開創的能力比模仿的能力是需要更多的思考能力, 所以, 要成為成功的人, 必先好好鍛鍊自己的思考習慣。

一個人想要成為一個獨特的人, 必先要有獨特的經歷, 而尋求獨特經歷一個最簡單的方法就是, 一個人去旅行, 一個人去探索生命, 一個人去思考, 不要問任何人對與錯, 相信自己, 相信上天。</string>
		<string>人當真不用不愉快, 其實上天早有安排, 每一日只要有氣力過渡到明天, 明天自會有驚喜。

昨日的經歷是今日的回憶, 也是今日的寫照, 今日是他日成功的基礎, 開端, 堅持今日過得快樂, 是為他日創造美好的回憶。

一個人樂觀的時候, 所吸引到來生命的所有事物都會變得不一樣, 這個不一樣可能是一句說話, 一個人, 一個畫面, 一個地方, 或者一個永遠光明的未來。

人生上半場過得不開心, 下半場一定會過得開心。
</string>
		<string>感激的意義, 在於能夠發挖出更多的不平凡事, 發挖生命中更多的新奇事, 那麼你就會變成一個有創意, 奇特有趣的人。

就算此刻什麼都失去了, 失去了情人, 朋友, 我應該感恩我仍有健全的體魄去幫助我去做我想做的事, 就算我失去健全的肢體, 至少我該慶幸我有健全的腦袋, 其實, 我們的身體本來是分開的, 分件的, 而各部份組合起來完成一件事, 到底其實是神恩。試想想, 如果我只是一個腦, 那麼我該感激我擁有我的手。

忘我是忘記有形有像的自身, 去看這個世界, 去感受這個世界帶給自己的任何刺激。

人生每一場都是一段經歷, 一個學習場所, 既然是學習, 總有失意得意的時候, 感激有幸能參與每一場的歷遇, 因為它將會是你日後最寶貴的財富。</string>
		<string>每個人生來世上, 都是用自己的感觀去經歷世界, 各自修行, 各自領悟, 每個人從中自不然會形成對事物對人的價值觀。但不要弄錯, 這些都是自己的價值觀, 世上沒有兩個相似的人, 更遑論相同的經歷, 各人持著不同的價值觀, 也是最正常不過的事。了解自己的價值觀, 同時也尊重其他人在成長路上所修為的價值觀, 就算與對方的價值觀互相衝突, 亦無須要把自己的價值觀強加諸在別人身上, 同時也要求別人不要把價值觀套在我們的脖子上。

因為明白, 才能減少很多人與人之間無謂的指責, 因為了解, 才能實現多元文化的社會。

不要老是習慣用你固有的思考模式去思考這個世界的人和事, 換一換心態, 有時轉變而帶來的快樂是可以很巨大的。要改變別人, 必先要改變自己; 要改變世界, 必先要改變最近身的人, 這可能是自己的家庭, 自己的同學, 自己的同事。

情緒智商, 不是盲目地忍耐, 不是盲目地不生氣, 而是用自己的情感去理解別人的情感, 進而釋放出大愛的元素, 一切的原諒, 同情, 寬容, 都是由同理心所發展出來。
</string>
		<string>奮鬥是一份決心, 一種無比的毅力。

不鼓勵盲目地奮鬥, 在決心沃立志完成一件事前, 要問自己可以付出多少的努力, 可以付出多久的堅持, 可以承受多久的失敗。

世上沒有任何一件事情是不用經過付出與努力就輕易得到。

就算當下遇到困難, 挑戰, 痛苦, 都以開懷的心情面對。</string>
		<string>把安全感建立自性上, 而自性就是靠著上天給我的理性。只要我發揮得宜, 我每天都會找到寶物, 想到一個新的方案來。

問自己有多少安全感, 先要問自己信不信自己, 有多少的自信, 信自己做一件事有多少的能力。人要找尋有自信的人, 再加以共同創建自信的氣氛。

一個人一定要學懂自愛, 才不需要到處向人索取愛。

人要學懂對自己的肯定, 對自己有愛, 愛自己, 才會有安全感, 才能帶給其他人安全感。

愛自己, 才能照亮他人。</string>
		<string>錢跟財富並不是對等, 錢只是財富的其中一部份, 財富還包括自尊, 地位, 快樂, 友誼, 物質。

人要賺大錢, 一定要具創造性, 任何一個具創造性的人, 都會創造一股模仿的風潮, 不要再去盲目跟著別人走, 而是想想自己應該如何走。

這個世界賺錢的方法有很多, 有些錢是用生命換來, 有些錢是用勞力換來, 有些錢是用腦力換來。

把錢用在更值得用的地方, 就等於把資源應用在更應該用的地方。

尋找那個願意與你一起合作發現財富的人, 坦誠地跟他們合作。</string>
		<string>成功之道, 在於找尋自己比別人在短時間內做得快而準而精的技能。

問你自己, 你到底想自己成為一個一般人, 還是比一般人多一些元素的人, 如果你願意成為一個比一般人多少許東西的人, 如果你願意為成為那非一般的你而付出多一份汗水, 多一份努力, 你已經開始踏上非一般人的路程了。

人, 一定要保有自己應世的哲學。

不要老是舉棋不定。

要經歷一件事, 必先要坐言起行。</string>
		<string>如果看完的新聞連繫不到自己的生活, 啟發不到自己待人接物方面的態度, 那麼任何一則新聞都是白看的。

閱讀及聆聽, 是需要包括理解, 很多人在教育系統當中經常性被訓練成速讀, 而漸漸忽略如何慢讀及理解, 閱讀最重要是理解, 讀而不解, 其實等如沒有讀過, 不如不讀。

看書, 每日看1小時, 1年看了365小時, 以每本300頁計算, 每小時看10頁, 1本需要花30個小時才看完, 1年即可以看上12本書。如果小心選擇所看的書籍, 例如只取成功人物的書籍來看, 那我就等於在1年內擁有了12個成功人物的應世方法。對我日後自身的做人處世深具參考性與影響力。</string>
		<string>有人的地方, 就有語言的出現, 人與人之間要合作, 必先要透過溝通。

口才是什麼? 口才是口舌的才華, 才能, 說話的能力, 表達的智慧。

一個越有智慧的人越能表現自己在一些地方的無知, 那其實是一種有智慧的表現, 因為放下面子, 所以得著知識。</string>
		<string>為明天或之後的事而煩惱, 是一種壞習慣。感恩每日過得平安, 每日早上要有預備排難的心, 每晚臨睡前養成不再為明天而煩憂的習慣。


開放自身所有的感官運作, 防止衰老, 不要只專注在一個器官之上, 充分利用身體各器官, 眼, 耳, 口, 鼻, 腳。

沒有昨日失敗的經驗, 哪有他日成功的實現呢? 不要將關注點過分放在得失之上, 而應將關注點放在經歷上。</string>
		<string>越是追求完美, 越要承認並接受自己不完美。

如果你說你下十個決定, 十個決定都無悔, 恭喜你, 因為你身邊能幹的人實在太多, 能幹的人不是你啊, 而一般人, 都是在下十個決定, 做錯八個決定, 做對二個決定之中跌跌碰碰過日子的, 如果你是那一般人的其中一份子, 而你又發現並承認自己確實很一般, 那麼你已經不一般了。

不斷嘗試, 不斷檢討, 不斷分析, 今次做得不好, 是為著下次做得更好。

</string>
		<string>如果你現在覺得你所處理的事情有莫大困難, 那麼我告訴你, 你知不知你能夠出生, 乃至生存到今時今日, 過程你經歷著很多很多困難, 而你也竟然在此時此刻沒有死去, 證明已經再沒有任何困難的事情你不能克服。

生命的形成, 比起世間上任何人事的衝突矛盾都要複雜困難。

消除寂寞與孤獨感: 關心別人的感受, 知道別人是如何思想的。從關心別人之中, 你將不再那麼在意自己的不愉快。一段日子之後, 你就會跟社區的人連繫在一起, 而孤獨感就會慢慢消失。

消除對生活的恐懼感: 當你每一日所做的事, 都是自己喜歡做的事, 也是忠於自己的事, 那麼若干日子之後, 你對生活的恐懼就會消除下來了。</string>
		<string>愛是一點累積, 是需要累積到某個數字才會溢滿, 一對愛人的相處, 就像儲蓄一樣。

真正的愛是自由的, 是給予選擇權的, 只有自由的愛才能永遠緊密地連繫在一起。

何為理想的婚姻: 不論男女, 其中一員有自己的事業, 最好二人都各有自己成功的事業, 或同心合力創造共同的事業。想自己有人關心, 有人哄, 有人靠依, 而在現實找不到的話, 就自己成為那個理想的伴侶。

愛是要還對方自由, 喘氣空間, 以及選擇權利, 這才是把一個當作一個獨立的人看。愛人不是僕人, 他與你平等。讓他自己想吧, 讓他自己權衡吧, 他自然會作出一個更好的選擇。

如果對方最終都是選擇離開你, 你也不要難過, 離開是為了回歸, 回歸是為了讓他再次感受你的改變, 你不再是從前的你, 你將會是一個脫胎換骨, 一番新氣象的你。此時, 你的吸引力, 你的魅力將延綿千里, 你所愛的人再也不想離開你, 他只想緊緊貼近你。此時, 你才是真正嬴得他對你的尊重, 他對你的追求,  他深情的擁抱。
</string>
		<string>交朋結友, 不是講時間, 而是講連結, 兒時認識的朋友是用日子建立, 長大後認識的朋友是用大家的價值觀以及心理連結建立。

這個世界, 總不能每一個個體都跟自己百份百相似, 但不要緊, 在一個看似與自己不相似的人身上找到相似性, 就等如尋到寶物一樣, 值得珍惜。

一邊找尋學習對象, 完善自己, 一邊找尋影響對象, 改變別人。

人就像站在一個平衡面之上, 若沒有足夠大的力量, 是不足以站在這塊不斷搖晃的平衡面上, 自己不夠定力, 就自然需要找依靠。
</string>
	</array>
</dict>
</plist>
